﻿@model e_penjualan.ViewModels.BarangViewModel 

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Barang</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code)
            @Html.ValidationMessageFor(model => model.code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nama)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nama)
            @Html.ValidationMessageFor(model => model.nama)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.keterangan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.keterangan)
            @Html.ValidationMessageFor(model => model.keterangan)
        </div>

        <div class="editor-field">
            @Html.LabelFor(model => model.kategori)
            @Html.DropDownListFor(model => model.kategori.id, Model.kategories)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

