﻿@model e_penjualan.ViewModels.BarangViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BarangViewModel</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code)
            @Html.ValidationMessageFor(model => model.code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nama)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nama)
            @Html.ValidationMessageFor(model => model.nama)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.harga)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.harga)
            @Html.ValidationMessageFor(model => model.harga)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.stok)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stok)
            @Html.ValidationMessageFor(model => model.stok)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.keterangan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.keterangan)
            @Html.ValidationMessageFor(model => model.keterangan)
        </div>

        <div class="editor-field">
            @Html.LabelFor(model => model.kategori)<br />
            @Html.DropDownListFor(model => model.kategori.id, Model.kategories)
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

