﻿@model IEnumerable<e_penjualan.Models.Barang>

@{
    ViewBag.Title = "IndexMembers";
}

<h2>IndexMembers</h2>

<p>
    
</p>
<table>
    <tr>
        <th>
            code
        </th>
        <th>
            nama
        </th>
        <th>
            keterangan
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.keterangan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
