﻿@model IEnumerable<e_penjualan.Models.Barang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            code
        </th>
        <th>
            nama
        </th>
        <th>
            kategori
        </th>
        <th>
            harga
        </th>
        <th>
            keterangan
        </th>
        <th>
            stok
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama)
        </td>
        <td>
            @(item.kategori.code+"-"+item.kategori.nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.keterangan)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.stok)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
