﻿@model e_penjualan.Models.Kategori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Kategori</legend>

    <div class="display-label">code</div>
    <div class="display-field">@Model.code</div>

    <div class="display-label">nama</div>
    <div class="display-field">@Model.nama</div>

    <div class="display-label">keterangan</div>
    <div class="display-field">@Model.keterangan</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


