﻿@model e_penjualan.ViewModels.PembelianViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PembelianViewModel</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.idBarang)            
            @Html.HiddenFor(model => model.idKategori)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.KodeBarang)
            
        </div>
        <div class="editor-field">
            @Model.KodeBarang
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NamaBarang)
        </div>
        <div class="editor-field">
            @Model.NamaBarang
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.harga)
        </div>
        <div class="editor-field">
            @Model.harga
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.qty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.qty)
            @Html.ValidationMessageFor(model => model.qty)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
