﻿@model IEnumerable<e_penjualan.ViewModels.PembelianViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<div>
    <table>
    <tr>
        <th></th>
        <th>
            KODEBARANG
        </th>
        <th>
            NAMA BARANG
        </th>
        <th>
            STOK
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            @Html.ActionLink("Beli", "Details", new { id=item.idBarang }) |            
        </td>
        <td>
            @item.KodeBarang
        </td>
        <td>
            @item.NamaBarang 
        </td>
        <td>
            @item.qty
            
        </td>
    </tr>
}

</table>

</div>
