﻿@model IEnumerable<e_penjualan.ViewModels.PembelianViewModel>

@{
    ViewBag.Title = "Pembelian";
}

<h2>Pembelian</h2>
<table>
    <tr>        
        <th>
            KodeBarang
        </th>
        <th>
            NamaBarang
        </th>
        <th>
            harga
        </th>
        <th>
            qty
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KodeBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamaBarang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        
    </tr>
}

</table>
