﻿@model e_penjualan.Models.Kategori

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Kategori</legend>

    <div class="display-label">code</div>
    <div class="display-field">@Model.code</div>

    <div class="display-label">nama</div>
    <div class="display-field">@Model.nama</div>

    <div class="display-label">keterangan</div>
    <div class="display-field">@Model.keterangan</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

