﻿@model IEnumerable<e_penjualan.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            code
        </th>
        <th>
            nama
        </th>
        <th>
            keterangan
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
        <td>
            @item.code
        </td>
        <td>
            @item.nama
        </td>
        <td>
            @item.keterangan
        </td>
    </tr>
}

</table>

